@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <style type="text/css">
            
            *, *:before, *:after {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            body {
                margin: 0;
                padding: 0;
            }

        </style>
        @Styles.Render("~/bundles/mab.contextinspector.css")
    </head>
<body>
    <div id="mab-contextinspector">
        @{ Html.RenderAction("Data"); }
    </div>
    <script type="text/javascript">
        var _CI_STANDALONE = true;
    </script>
    @Scripts.Render("~/bundles/mab.contextinspector.js")
</body>

</html>
