#mab-contextinspector {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 12px;
    line-height: 1em;
}

#mab-contextinspector.inspector {
    position: absolute; 
    width: 100%; 
    height: 550px; 
    left: 0; 
    bottom: 0; 
    
    background-color: #fff; 
    border-top: solid 1px #000;
    x-display: none;
    overflow: auto;
}

#mab-contextinspector-toggle {
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: right;
}

#mab-contextinspector-toggle.open {
    bottom: 550px;
}

#mab-contextinspector table {
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#mab-contextinspector td, th {
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
    padding: 6px 30px 6px 10px;
}

#mab-contextinspector tr.data:nth-child(even) {
    background-color: #F5F5F5;
}

#mab-contextinspector tr.data:hover {
    background-color: #b0c3ff;
}

#mab-contextinspector #col-key {
    width: 25%;
}

#mab-contextinspector #col-type {
    width: 10%;
}

#mab-contextinspector #col-contents {
    width: 65%;
}
            
#mab-contextinspector pre {
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    border: none;
    line-height: 1em;
    border-radius: 0;
    overflow: visible;
}

#mab-contextinspector .string {
    color: green;
}

#mab-contextinspector .number {
    color: #a70000;
}

#mab-contextinspector .boolean {
    color: blue;
}

#mab-contextinspector .null {
    color: magenta;
}

#mab-contextinspector .key {
    color: #000000;
}

#mab-contextinspector .varkey, .vartype {
    font-family: monospace;
}

#mab-contextinspector .main th {
    background-color: #00487d;
    border-color: #00487d;
    color: #fff;
}